@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fredoka&display=swap');
* {
	box-sizing: border-box;
	list-style: none;
	text-align: center;
	font-family: 'Fredoka', sans-serif;
}

h1 {
	font-size: 4rem;
	font-family: 'Dancing Script', cursive;
	margin: 1rem;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: black;
	color: white;
}
main {
	width: 100%;
}

.videos {
	display: flex;
	justify-content: center;
}

lite-youtube {
	margin: auto;
}

.social-media {
	padding: 0;
	display: flex;
	justify-content: center;
}

i {
	font-size: 4rem;
	padding: 2rem;
}

input,
textarea,
button {
	width: 15rem;
	padding: 0.1rem;
	border-radius: 1rem;
	font-size: 1rem;
}

button {
	width: 5rem;
}

.contact button:hover {
	cursor: pointer;
}

a {
	color: lightskyblue;
}
